.body2{

    margin: 0px;
    border: 0px;
    margin-top:0px;

}

.hero{
 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/laptop-2557571_1920.jpg");
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    border: 0px;
    
    
    
}

.hero-text{
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

margin: 0px;
border: none;
font-size: large;
color:rgb(211, 211, 211);
text-align: center;   
font-family:"Poppins", sans-serif; 
position: absolute;
top:10%;

}

.ul{

margin-left: 8%;
margin-right: 8%;

}

.button{
    @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
    padding: 15px 25px;
    position: absolute;
    
    text-align: center;
    
    bottom:28%;
    left:43%;
    
    background-color: transparent;
    border: solid;
    border-color: yellow;
    color:yellow;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;

}

.con{

background-image: url("assets/animated-under-construction-image-0010.gif");
height: 100vh;
background-repeat: no-repeat;
position: absolute;
top:50%;
left:43%;
padding:20px;
}


.oh2{

  text-align: center;
  position: relative;
  bottom:50%;
}

@media only screen and (max-width: 900px){
.button{

    bottom:5%;

    left:40%;

    }



}



.button:hover{

background-color: rgba(0, 0, 0, 0.856);
box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.486);


}


.propic{


position: relative;
left: 30%;
height: 150px;
width:150px;
border:solid rgb(19, 21, 122) 03px;
padding: 8px;
border-radius: 200px;


}


.heading{

    font-weight: 600;
    font-size:20px;
    font-family: "Poppins", sans-serif;

}

.lable{

    font-weight: 600;
    font-size:16px;
    font-family: "Poppins", sans-serif;


}

.text{

    font-weight: 400;
    font-size:16px;
    font-family: "Poppins", sans-serif;


}


.workimg{

    height:150px;
    width:150px; 
    
}

.work{



}


.worksec{

    text-align: center;

}


.worklable{


    text-align: center;

}


.ptext{

    font-family: "Poppins", sans-serif;


}